rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que cada usuário autenticado acesse e salve apenas seus próprios dados e backups
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
